.root {
  display: grid;
  gap: 1rem;
}

.actionButtons {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-auto-flow: row;
  grid-auto-columns: max-content;
}

@media screen and (min-width: 600px) {
  .actionButtons {
    grid-auto-flow: column;
    gap: 2rem;
  }
}
